@{
    ViewData["Title"] = "Home Page";
}

<br/><br />
@if (signInManager.IsSignedIn(User))
{
<div class="btn-group">
    <a asp-action="Index" asp-controller="Todoes" class="btn btn-success">Todos</a>
    <a asp-action="UserIndex" asp-controller="Manage" class="btn btn-info">Manage Users</a>
</div>
}
<br /><br />
